{{#each items}}
{{#if owned}}
<div class="stonetop-arcanum-card{{#if flipped}} is-flipped{{/if}}" data-slug="{{slug}}">

	{{#if img}}
	<img class="stonetop-arcanum-img" src="{{img}}" alt="{{name}}">
	{{/if}}

	{{#if flipped}}
	{{!-- Back side --}}
	<div class="stonetop-arcanum-header">
		<div class="stonetop-arcanum-header-left">
			<span class="stonetop-arcanum-title">{{rich back.title}}</span>
			{{#if back.item}}{{> "stonetop.outfit-item-row" back.item}}{{/if}}
		</div>
		{{#if back.resource}}
		<div class="stonetop-arcanum-header-resource">
			{{> "stonetop.resource-track" resource=back.resource btnClass="stonetop-arcanum-resource-btn" slug=slug}}
		</div>
		{{/if}}
	</div>
	<div class="stonetop-arcanum-body">
		<div>{{rich back.description}}</div>
		{{#if back.moves.length}}
		<p class="stonetop-arcanum-section-label">{{localize "stonetop.arcana.moves"}}</p>
		<ol class="items-list stonetop-arcanum-moves">
			{{#each back.moves}}
			<li class="stonetop-item">
				{{!-- Major arcana: real move items the player ticks to unlock (categoryKey = source.type =
				      arcana-<slug>). Minor/custom arcana render inline, always-active, no checkbox. --}}
				{{> "stonetop.move-item" showCheck=../major categoryKey=source.type}}
			</li>
			{{/each}}
		</ol>
		{{/if}}
		{{#if back.choices}}
		<div class="stonetop-arcanum-back-choices">
			{{#each back.choices.list}}
			{{> "stonetop.choice-row" cgContext="arcana-back" cgGroup=../slug}}
			{{/each}}
		</div>
		{{/if}}
		{{#if back.consequences}}
		<div class="stonetop-arcanum-consequences">
			<p class="stonetop-arcanum-section-label">{{localize "stonetop.arcana.consequences"}}</p>
			{{#each back.consequences.list}}
			{{> "stonetop.choice-row"}}
			{{/each}}
		</div>
		{{/if}}
	</div>

	{{else}}
	{{!-- Front side --}}
	<div class="stonetop-arcanum-header">
		<div class="stonetop-arcanum-header-left">
			<span class="stonetop-arcanum-title">{{rich front.title}}</span>
			{{#if front.item}}{{> "stonetop.outfit-item-row" front.item}}{{/if}}
		</div>
	</div>
	<div class="stonetop-arcanum-body">
		<div>{{rich front.description}}</div>
		<div class="stonetop-arcanum-unlock">
			{{#each front.unlock.list}}
			{{> "stonetop.choice-row" cgContext="arcana-unlock" cgGroup=../slug}}
			{{/each}}
		</div>
	</div>
	{{/if}}

	<div class="stonetop-arcanum-footer">
		<button type="button" class="stonetop-arcanum-flip-btn"
		        data-slug="{{slug}}" data-flipped="{{flipped}}">
			{{#if flipped}}{{localize "stonetop.arcana.showFront"}}{{else}}{{localize "stonetop.arcana.showBack"}}{{/if}}
		</button>
		<button type="button" class="stonetop-arcanum-delete" data-slug="{{slug}}"
		        title="{{localize 'stonetop.arcana.removeArcanum'}}">
			<img src="systems/stonetop/assets/ui/controls/delete-icon.png" alt="{{localize 'stonetop.arcana.removeArcanum'}}">
		</button>
	</div>

</div>
{{/if}}
{{/each}}
