<div class="tab insert insert-{{insert.slug}}"
     data-group="primary" data-tab="insert-{{insert.slug}}"
     data-insert-item-id="{{insert.id}}">
	<section class="sheet-tab">
		<div class="stonetop-insert-header">
			<h3 class="stonetop-insert-name">{{insert.name}}</h3>
			<button type="button" class="stonetop-insert-remove"
			        data-insert-item-id="{{insert.id}}">
				{{localize "stonetop.insert.remove"}}
			</button>
		</div>
		{{#if insert.description}}
		<div class="stonetop-insert-description">{{{insert.description}}}</div>
		{{/if}}
		<div class="stonetop-details-columns">
			{{> "stonetop.choice-section" groups=insert.choices cgContext="insert"}}
			{{#if insert.instinctGroup}}
			{{> "stonetop.instinct-section"
			    instinctSelected=insert.instinctSelected
			    instinctGroup=insert.instinctGroup
			    namePrefix=insert.id
			    cgContext="insert-pick"}}
			{{/if}}
		</div>
	</section>
</div>
