<form class="{{cssClass}} stonetop-follower-card stonetop-npc-card" autocomplete="off">

	{{> "stonetop.actor-header"}}

	{{> "stonetop.selection-chips" sel=stonetop.tagSelection slug=slug field="tagList" placeholder=(localize "stonetop.followers.notePlaceholder")}}

	<div class="stonetop-creature-statrow">
		<div class="stonetop-creature-statrow__fields">
			<div class="stonetop-creature-line">
				<span class="stonetop-follower-label">{{localize "stonetop.followers.armor"}}</span>
				{{> "stonetop.editable-field" field=stonetop.armor slug=slug
					inputId="npc-armor" inputClass="stonetop-follower-armor"}}
			</div>
			<div class="stonetop-creature-line">
				<span class="stonetop-follower-label">{{localize "stonetop.followers.damage"}}</span>
				{{> "stonetop.editable-field" field=stonetop.damage slug=slug
					inputId="npc-damage" inputClass="stonetop-follower-damage"}}
			</div>
			<div class="stonetop-creature-line">
				<span class="stonetop-follower-label">{{localize "stonetop.followers.instinct"}}</span>
				{{> "stonetop.selection-input" sel=stonetop.instinctSelection slug=slug field="instinct" inputClass="stonetop-npc-instinct" placeholder=(localize "stonetop.followers.instinct")}}
			</div>
		</div>
		<div class="stonetop-creature-hp">
			<span class="stonetop-follower-label">{{localize "stonetop.followers.hp"}}</span>
			<div class="stonetop-creature-hp__row">
				<input id="npc-hp" class="stonetop-creature-hp__input stonetop-step" type="number" min="0" value="{{stonetop.hp}}">
				<span>/</span>
				<input id="npc-max-hp" class="stonetop-creature-hp__input stonetop-step" type="number" min="0" value="{{stonetop.hpMax}}">
			</div>
		</div>
	</div>

	<div class="stonetop-creature-line">
		<span class="stonetop-follower-label">{{localize "stonetop.followers.specialQuality"}}</span>
		{{> "stonetop.editable-field" field=stonetop.specialQuality slug=slug
			inputId="npc-special-qualities" inputClass="stonetop-follower-special-quality"}}
	</div>

	<div class="stonetop-creature-moves stonetop-editable">
		<div class="stonetop-creature-moves-head">
			<span class="stonetop-follower-label">{{localize "stonetop.followers.moves"}}</span>
			<button type="button" class="stonetop-edit-toggle" title="Edit"><img src="systems/stonetop/assets/ui/controls/edit-icon.png" alt="edit"></button>
		</div>
		<div class="stonetop-editable__display">{{rich stonetop.moves}}</div>
		<textarea id="npc-moves" class="stonetop-editable__edit" data-slug="{{slug}}">{{stonetop.moves.raw}}</textarea>
	</div>

	<div class="stonetop-creature-moves stonetop-editable">
		<div class="stonetop-creature-moves-head">
			<span class="stonetop-follower-label">{{localize "stonetop.followers.description"}}</span>
			<button type="button" class="stonetop-edit-toggle" title="Edit"><img src="systems/stonetop/assets/ui/controls/edit-icon.png" alt="edit"></button>
		</div>
		<div class="stonetop-editable__display">{{rich stonetop.description}}</div>
		<textarea class="stonetop-editable__edit stonetop-follower-description-textarea" data-slug="{{slug}}">{{stonetop.description.raw}}</textarea>
	</div>

</form>
